// Base
@use 'base/_reset';
@use 'base/_layout';
@import 'base/typography';

// Utility
@import 'utility/_variables';
@import 'utility/_functions';
@import 'utility/_mixins';

// Components
@import 'components/_preloader';
@import 'components/_navbar';
@import 'components/_hero';
@import 'components/_footer';
@import 'components/buttons';

// Other
body {
  background-color: $dark-gray;
  color: #eee;
  @include transition-theme;

  &.light {
    background: $white;
    color: $gray;
  }
}

#favicon-svg {
  width: 64px;
  height: 64px;
}