doctype html
html(lang="en")

  head
    include components/_head-data
    +head-data("Project Arcanist - About Us")

  body
    include components/_navbar
    +navbar("About Us")

    .whitespace

    include components/_footer
    script(src="js/main.js")
  h1 test