doctype html
html(lang="en")

  head
    include components/_head-data
    +head-data("Project Arcanist - About Us")

  body
    include components/_navbar
    +navbar({
      activeItem: "About Us",
      color1: undefined,
      color2: undefined,
      activeColor: undefined,
      repeat: undefined 
    })

    .whitespace

    include components/_footer