doctype html
html(lang="en")

  head
    include components/_head-data
    +head-data("Project Arcanist - Contact")

  body
    include components/_navbar
    +navbar({
      activeItem: "Contact",
      color1: undefined,
      color2: undefined,
      activeColor: undefined,
      repeat: undefined 
    })

    .container
      form#contact-form(action='https://formspree.io/f/myyldeon' method='POST')
        
        label Your email:
          input(type='email' name='_replyto')
        
        label Your message:
          textarea(name='message')
        
        button(type='submit') Send

    include components/_footer