doctype html
html(lang="en")

  head
    include components/_head-data
    +head-data("Project Arcanist - Contact")

  body
    include components/_navbar
    +navbar({
      activeItem: "Contact",
      color1: 'teal',
      color2: 'green',
      activeColor: undefined,
      repeat: undefined 
    })

    .container
    include components/_contact-form

    include components/_footer