doctype html
html(lang="en")

  head
    include components/head-data.pug
    +head-data("Project Arcanist")

  body
    include components/navbar.pug
    +navbar("Home")

    .preloader
      img.preloader-animation(
          src="img/Funnel.gif"
          alt="Loading..."
        )

    .whitespace

    include components/footer.pug
    script(src="js/main.js")