doctype html
html(lang="en")

  head
    include components/_head-data
    +head-data("Project Arcanist")

  body
    include components/_navbar
    +navbar("Home")
    
    .preloader
      .preloader-frame
      img.preloader-animation(
          src="img/loader-nocircle.gif"
          alt="Loading..."
        )

    section#hero
      .container
        h1.hero-heading Welcome to Project Arcanist
        p.hero-text
          | Hello we are something something from somewhere because we love something and enjoy doing something sometimes thats why sample text lorem ipsum etc
          br
          br
          span.larger We create _______ (i).

        .cta
          button SEE OUR WORK
          button
            a(href="#scroll-test") HIRE US

        small.scroll-indicator-label Learn more
        .scroll-indicator

    h1 Heading One
    h2 Heading Two
    h3 Heading Three
    small Small Text
    p.
      Lorem ipsum dolor sit amet consectetur adepiscing sit elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
    
    .whitespace
    section#scroll-test
    //- include components/contact-form
    include components/_footer
    script(src="js/main.js")
    script 
  //-
    TODO
    -- NAVBAR
    [X] Logo as SVG paths
    [X] Gradient variable on logo
    [x] Gradient variable under menu
    [x] Color variable on active item underline
    [X] Text styling on menu items
    [ ] Mobile menu
    [x] Add theme toggle/language toggle
    
    -- OTHER
    [x] CSS to SASS
    [x] CSS Reset
    [x] Color variables
    [ ] Favicon / metadata
    [ ] Hero section + CTA
    [ ] Social icons
    [ ] Mobile navigation
    [ ] Hover effects
    [ ] Preloader JS Code
    [ ] Noscript message
    [ ] Footer flexbox
    [ ] Contact Form FORMSPREE
    [ ] Font import
    [ ] Make border around the loader represent the actual loading time somehow with a radial gradient or clip-path maybe and js
    [ ] Dynamic animated favicon with gradient from navbar
    [] Page transitions with barba.js and GSAP?