doctype html
html(lang="en")

  head
    include components/head-data.pug
    +head-data("Project Arcanist")

  body
    include components/navbar.pug
    +navbar("Home")

    .preloader
      .preloader-frame
      img.preloader-animation(
          src="img/loader-nocircle.gif"
          alt="Loading..."
        )
    .whitespace
    //- include components/contact-form.pug
    include components/footer.pug
    script(src="js/main.js")

  //-
    TODO
    [ ] CSS to SASS
    [ ] CSS Reset
    [ ] Color variables
    [ ] Favicon / metadata
    [ ] Hero section + CTA
    [ ] Social icons
    [ ] Mobile navigation
    [ ] Hover effects
    [ ] Preloader JS Code
    [ ] Noscript message
    [ ] Footer flexbox
    [ ] Contact Form FORMSPREE
    [ ] Font import
  //
