doctype html
html(lang="en")

  head
    include components/head-data.pug
    +head-data("Project Arcanist")

  body
    include components/navbar.pug
    +navbar("Home")

    .preloader
      .preloader-frame
      img.preloader-animation(
          src="img/loader-nocircle.gif"
          alt="Loading..."
        )

    section#hero
      .container
        h1.hero-heading Something catchy here
        p.hero-text
          | Hello we are something something from somewhere because we love something and enjoy doing something sometimes thats why sample text lorem ipsum etc
          br
          br
          span.larger We create _______ (i).

        .cta
          button SEE OUR WORK
          button HIRE US

        small.scroll-indicator-label.
         Learn more
        .scroll-indicator
    
    .whitespace
    //- include components/contact-form.pug
    include components/footer.pug
    script(src="js/main.js")

  //-
    TODO
    -- NAVBAR
    [X] Logo as SVG paths
    [ ] Gradient variable on logo
    [ ] Gradient variable under menu
    [ ] Color variable on active item underline
    [X] Text styling on menu items
    [ ] Mobile menu
    [ ] Add theme toggle/language toggle
    
    -- OTHER
    [ ] CSS to SASS
    [ ] CSS Reset
    [ ] Color variables
    [ ] Favicon / metadata
    [ ] Hero section + CTA
    [ ] Social icons
    [ ] Mobile navigation
    [ ] Hover effects
    [ ] Preloader JS Code
    [ ] Noscript message
    [ ] Footer flexbox
    [ ] Contact Form FORMSPREE
    [ ] Font import
    [ ] Make border around the loader represent the actual loading time somehow with a radial gradient maybe and js
  //
