doctype html
html(lang="en")

  head
    include components/head-data.pug
    +head-data("Project Arcanist - Work")

  body
    include components/navbar.pug
    +navbar("Work")

    .whitespace

    include components/footer.pug
    script(src="js/main.js")