doctype html
html(lang="en")

  head
    include components/_head-data
    +head-data("Project Arcanist - Work")

  body
    include components/_navbar
    +navbar("Work")

    .whitespace

    include components/_footer
    script(src="js/main.js")