doctype html
html(lang="en")

  head
    include components/_head-data
    +head-data("Project Arcanist")

  body
    include components/_navbar
    +navbar({
      activeItem: "Work",
      color1: 'purple',
      color2: 'orange',
      activeColor: undefined,
      repeat: undefined 
    })

    .whitespace

    include components/_footer