#contact-form {
  background: $gray;
  display: flex;
  flex-flow: column;
  width: 500px;
  height: 800px;
  border-radius: 2rem;
  padding: 4rem;
  align-items: flex-start;

  &.light {
    background: $white;
    box-shadow: 0 0 5px gray;
  }
}

#contact-submit {
  width: 60%;
  align-self: center;
}

.contact-form-label {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
}


input {
  display: inline-block;
  border-radius: 100vh;
  outline: none;
  flex: none;
}

.form-heading {
  font-family: brother-1816, sans-serif;
  font-size: 3.2rem;
  font-weight: bold;
  margin-bottom: 5.5rem;
  min-width: 17ch;
}

.form-row {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  label {
    width: 6ch
  }
  
  input[type=text],
  input[type=email] {
    flex-grow: 1;
    max-width: 85%;
    height: 36px;
  }

}

#contact-category-select-wrapper {
  display: flex;
  flex-flow: column;
  width: 100%;
  margin-top: 1rem;

  label {
    margin-bottom: 1rem;
    margin-left: 0.2ch;
  }

  .custom-select {
    flex-grow: 1;
    position: relative;
    display: block;
    width: 100%;
    height: 36px;
    border: transparent 2px solid;
    border-radius: 100vh;
    margin-bottom: 2rem;
    background: white url('/img/form-question.svg') left 15px center / 30px no-repeat;
    z-index: 99;

    &.on, &:focus {
      outline: none;
      border: $arcanist-blue 2px solid;
    }
  }
}

#custom-option-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 100vh;
  box-shadow: 0px 15px 15px -5px rgba(0, 0, 0, 0.452), 5px 5px 15px 5px rgba(0,0,0,0);
  z-index: 100;

  & + .custom-option {
    background: lime;
    height: 46px;
    margin-top: -10px;
    z-index: -1;
  }
}
.custom-option {
  position: relative;
  top: 36px;
  background: red;
  height: 32px;
  width: 98%;
  margin: auto;
  &:last-of-type {
    border-radius: 0 0 15px 15px;
  }
}

#contact-category-select {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  pointer-events: none;
  opacity: 0;
}

.dropdown-arrow {
  width: 0; 
  height: 0; 
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  $height: 10px;
  border-top: $height solid #333;

  position: absolute;
  right: 18px;
  top: calc((36px - 10px) / 2);

  &.on { transform: rotate(180deg) translateY(2px); }
}

textarea {
  resize: none;
}

#contact-message {
  height: 300px;
  width: 100%;
  margin-bottom: 4rem;
  border-radius: 2rem;
  padding: 2rem;
  font-size: 1.4rem;
  font-family: brother-1816, sans-serif;
  font-weight: 500;
  text-rendering: geometricPrecision;
}

input, textarea, select {
  border: transparent 2px solid;
  box-sizing: border-box;

  &:focus {
    outline: none !important;
    border: $arcanist-blue 2px solid;
  }
}

#contact-wrapper {
  display: flex;
  flex-flow: row;
  margin-top: 200px;
  align-items: center;
}

#contact-name {
  background: white url('/img/form-user.svg') left 15px center / 30px no-repeat !important;
  padding-left: 56px;
  text-transform: capitalize;
}

#contact-email {
  background: white url('/img/form-email.svg') left 15px center / 30px no-repeat !important;
  padding-left: 56px;
}

.dropdown-wrapper {
  position: relative;
  display: block;
  width: 100%;
  height: 36px;
  border-radius: 100vh;
  margin-bottom: 2rem;
  background: red;
  z-index: 99;
  cursor: pointer;
  outline: none;
}

.dropdown {
  flex-grow: 1;
  position: relative;
  display: block;
  width: 100%;
  height: 36px;
  border-radius: 100vh;
  margin-bottom: 2rem;
  background: white url('/img/form-question.svg') left 15px center / 30px no-repeat;
  z-index: 1;
  font-weight: 500;
  color: $black;
  display: flex;
  align-items: center;
  padding-left: 56px;
  border: 2px solid transparent;
  &::selection { background: transparent;}

  &.on {
    box-shadow: 0 1px 1px rgba(0,0,0,0.05), 
                0 2px 2px rgba(0,0,0,0.05), 
                0 4px 4px rgba(0,0,0,0.05),
                0 6px 6px rgba(0,0,0,0.05);
  }
  
  &.on, &:focus {
    outline: none;
    border: $arcanist-blue 2px solid;
  }
}

.dropdown-arrow {
  width: 0; 
  height: 0; 
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  $height: 10px;
  border-top: $height solid #333;
  z-index: 2;
  position: absolute;
  right: 18px;
  top: calc((36px - 10px) / 2);

  &.on { transform: rotate(180deg) translateY(2px); }
}

.dropdown-select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100vh;
  opacity: 0;
  pointer-events: none;
  z-index: 9999;

  @include for-phone {
    pointer-events: all;
  }
}

.dropdown-option {
  width: 96%;
  height:36px;
  background: white;
  box-shadow: 0 1px 1px rgba(0,0,0,0.02), 
              0 2px 2px rgba(0,0,0,0.02), 
              0 4px 4px rgba(0,0,0,0.03), 
              0 8px 8px rgba(0,0,0,0.04),
              0 16px 16px rgba(0,0,0,0.05);
  color: $black;
  position: relative;
  padding: 0 20px;
  display: flex;
  align-items: center;
  top: -35px;
  font-weight: 400;
  transition: background-color .2s;
  border-top:rgba(0, 0, 0, 0.1) 1px solid;
  margin: auto;
  display: none;

  &.on { display: flex }
  &:hover, &.hover {
    background-color: rgb(242, 242, 242);
  }

  &:last-of-type {
    border-radius: 0 0 15px 15px;
  }
}

.dropdown-option-padding + .dropdown-option {
  height: calc(36px + 16px);
  padding-top: 16px;
}