#contact-form {
  background: $gray;
  display: flex;
  flex-flow: column;
  width: 500px;
  height: 800px;
  border-radius: 2rem;
  padding: 4rem;
  align-items: flex-start;
  margin-top: 200px;
  margin-right: 0;

  &.light {
    background: $white;
    box-shadow: 0 0 5px gray;
  }
}

#contact-submit {
  width: 60%;
  align-self: center;
}

.contact-form-label {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
}


input {
  display: inline-block;
  border-radius: 100vh;
  outline: none;
  flex: none;
}

.form-heading {
  font-family: brother-1816, sans-serif;
  font-size: 3.2rem;
  font-weight: bold;
  margin-bottom: 5.5rem;
}

.form-row {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  label {
    width: 6ch
  }
  
  input[type=text],
  input[type=email] {
    flex-grow: 1;
    max-width: 70%;
    height: 36px;
  }

}

#contact-category-select-wrapper {
  display: flex;
  flex-flow: column;
  width: 100%;
  margin-top: 1rem;

  label {
    margin-bottom: 1rem;
    margin-left: 0.2ch;
  }

  .custom-select {
    flex-grow: 1
  }
}

#contact-category-select {
  display: block;
  width: 100%;
  height: 36px;
  border-radius: 100vh;
  margin-bottom: 2rem;
}

textarea {
  resize: none;
}

#contact-message {
  height: 300px;
  width: 100%;
  margin-bottom: 4rem;
  border-radius: 2rem;
  padding: 2rem;
  font-size: 1.4rem;
  font-family: brother-1816, sans-serif;
}

input, textarea, select {
  &:focus {
    outline: none !important;
    border: $arcanist-blue 2px solid;
  }
}

#contac-wrapper {
  display: flex;
  flex-flow: row;
}
