footer {
  width: 100%;
  background: $black;
  
  &.light {
    background: $fullwhite;
  }

  @include for-phone {
    overflow-x: hidden;
  }
}

#footer-logo-anchor {
  display: inline-block;
  transition: opacity 0.3s ease;
}

#footer-logo {
  margin-right: 3%;
  justify-content: center;
  align-items: flex-start;
}

#footer-logo-img {
  min-width: 128px;
  margin-top: 30px;
  margin: 30px;
}

#footer-page-links {
  padding: 20px;
  margin-right: 2%;
}

.footer-page-link {
  margin-bottom: 0 !important;
  padding-bottom: 10px;
  span {
    position: relative;
  }
  span:after {
    content: " ";
    position: absolute;
    top: calc(100% + 3px);
    left: 0;
    width: 120%;
    height: 2px;
    background: gray;
    transition: transform 0.3s ease;
    transform-origin: right;
    transform: scaleX(0);
  }

  &:hover span:after {
    transform: scaleX(1);
    transform-origin: left;
  }
  
}

.footer-recent-post.mobile,
.footer-recent-post.mobile {
  display: none;
}

@media screen and (max-width: 960px) {
  #footer-posts {
    display: none;
  }

  .footer-recent-post {
    font-size: 1.3rem;
    img {
      max-height: 48px;
      max-width: 48px;
    }
  }

  .footer-recent-post.mobile {
    display: flex;
  }
}

#footer-posts {
  padding: 20px;
  padding-top: 30px !important;
  
  @include for-phone {
    padding-top: 0px !important;
    max-width: 95%;
    display: grid ;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5rem;

    .footer-recent-post {
      border-bottom: none;
      margin-right: 1rem;

      picture {
        margin-top: 3px;
      }

      span {
        margin-bottom: 1ch;
      }
    }
  }
}

.footer-recent-post {
  display: flex;
  border-bottom: $gray 1px solid;
  margin-bottom: 0.4rem;
  padding-top: 0.6rem;
  padding-bottom: 0.3rem;
  font-weight: bold;
  font-size: 0.82em;
  cursor: pointer;
  transition: background-color .7s ease;

  &:last-of-type {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  picture {
    margin-right: 1.5ch;
  }

  &:hover {
    background: $gray;
  }
}

#footer-legal {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 1rem;
  border-top: $gray 1px solid;
  
  & * {
    padding: 2rem;
    padding-bottom: 1rem;
  }
  @include for-phone { align-items: flex-start; text-align: left; justify-content: flex-start;}
}

#footer-social {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  margin-bottom: 3.2rem;
  @include for-phone { align-items: flex-start; margin-bottom: 2.3rem; }
}

#footer-social-icons {
  display: flex;
}

.footer-social-icon {
  font-size: 2.5rem;
  border: 2px solid white;
  border-radius: 50%;
  padding: 1rem;
  display: flex;
  @include flex-center;
  margin-left: 0.5rem;
  margin-top: 20px;
  margin-bottom: 10px;
  border: none;
  background: #222;
  padding: 1.5rem;
  cursor: pointer;
  position: relative;
  top: 0; left: 0;
  z-index: 2;

  &:hover:before {
    opacity: 1;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, $arcanist-red 5%, $arcanist-blue 95%);
    width: 100%;
    height: 100%;
    transition: opacity 0.2s;
    opacity: 0;
    z-index: -1;
    border-radius: 50%;
  }
}

.footer-label {
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0.4;
  font-size: 0.8em;
  letter-spacing: 0.1ch;
}

#footer-wrapper {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: left;

  ul {
    padding-top: 30px;

    li:first-of-type {
      margin-bottom: 1ch
    }
  }

  @include for-phone {
    flex-wrap: wrap;
  }
}

#footer-posts li:nth-of-type(2) {
  margin-bottom: 1.5ch;
}

#footer-contact {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-end;
  flex-grow: 1;
  padding: 30px 20px;
  height: 100%;
  min-width: 30%;

  @include for-phone {
    align-items: flex-start;
    padding-top: 5px;
  }
}

#footer-email {
  display: flex;
  flex-flow: column;
  text-align: right;
  @include for-phone { text-align: left; }

  .footer-label {
    margin-bottom: 10px;
  }
}

#footer-email-text {
  font-size: 2.1rem;
  font-weight: lighter;
  cursor: pointer;
}

#footer-email-text:hover + #footer-email-underline {
  transform: scaleY(2);
}

#footer-email-text:hover + #footer-email-underline:after {
  opacity: 1;
}

#footer-email-underline {
  background: transparent linear-gradient(to right, $arcanist-blue, $arcanist-red);
  width: 100%;
  height: .2rem;
  margin-top: 1rem;
  transform-origin: top;
  transition: transform .2s;
  position: relative;

  &:after {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to left, $arcanist-blue, $arcanist-red);
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s ease-out;
  }
}