footer {
  width: 100%;
  background: $black;
  
  &.light {
    background: $fullwhite;
  }
}

#footer-grid {
  display: grid;
  grid-template-areas: 
  'footer-logo footer-links footer-posts footer-social'
  'footer-logo footer-links footer-posts footer-email'
  'footer-legal footer-legal footer-legal footer-legal';
  grid-auto-columns: min-content;

  ul {
    display: inline-flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: left;
    padding-top: 30px;
  }
}

#footer-logo {
  grid-area: footer-logo;
  margin-right: 3%;
  justify-content: center;
  align-items: flex-start;
}

#footer-logo-img {
  min-width: 128px;
  margin-top: 30px;
  margin: 30px;
}

#footer-page-links {
  padding: 20px;
  margin-right: 2%;

  li {
    margin-bottom: 5px;
  }
}

#footer-posts {
  grid-area: footer-posts;
  padding: 20px;
}

.footer-recent-post {
  display: flex;
  border-bottom: $gray 1px solid;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  font-weight: bold;
  font-size: 0.82em;
  cursor: pointer;

  &:last-of-type {
    border-bottom: 0;
  }

  picture {
    margin-right: 1.5ch;
  }
}

#footer-legal {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 1rem;
  border-top: $gray 1px solid;
  
  & * {
    padding: 2rem;
    padding-bottom: 1rem;
  }
}

#footer-social {
  grid-area: footer-social;
}

#footer-email {
  grid-area: footer-email;
}

.footer-label {
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0.4;
  font-size: 0.8em;
  letter-spacing: 0.1ch;
}

// #footer-page-links > li:first-of-type {
//   margin-bottom: 0.5ch;
// }

#footer-wrapper {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: left;

  ul {
    padding-top: 30px;

    li:first-of-type {
      margin-bottom: 1ch
    }
  }
}

#footer-posts li:nth-of-type(2) {
  margin-bottom: 1.5ch;
}

#footer-contact {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-end;
  flex-grow: 1;
  padding: 20px;
  height: 100%;
  min-width: 30%;
}