*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, .hero-heading, h2, h3, .screensize:after, h4, h5, h6, p, input, .navbar-item, .hero-text, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

ol {
  padding: 3rem;
}

a {
  text-decoration: none;
  color: inherit;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

:root {
  font-size: 62.5%;
}

body {
  scroll-behavior: smooth;
}

img {
  pointer-events: none;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.whitespace {
  height: 100vh;
  width: 100%;
  background: transparent;
}

section {
  width: 100%;
  min-height: 500px;
  background: transparent;
}

.fullwidth {
  width: 100%;
}

.noscroll {
  overflow: hidden;
}

#project-cover {
  padding: 1% 2%;
  padding-bottom: 56.25%;
  width: 100%;
  position: relative;
}

.project-info {
  display: flex;
  flex-flow: row;
  padding: 1% 2%;
  margin: 20px;
}
.project-info .left-col {
  background: blue;
  background: transparent;
  width: 100%;
  padding-left: 5%;
}
.project-info .right-col {
  background: darkblue;
  background: transparent;
  width: 100%;
  padding-right: 5%;
}

.two-photos {
  display: flex;
  padding: 1% 2%;
  gap: 20px;
  height: 20%;
}

.alignthefuckingcat {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cat {
  width: calc(100vw - 4%);
}

.placeholdercasestudy {
  font-size: 4.5rem;
  margin: 20px;
}

.placeholdercasestudy > * {
  font-family: cursive !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bold {
  font-weight: bold;
}

.large {
  font-size: 7.2rem;
}

.uppercase {
  text-transform: uppercase;
}

h1, .hero-heading, h2 {
  font-family: "modesto-condensed", "modestolite", serif;
  font-size: 6.4rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.06ch;
  line-height: 1.05;
}

h2 {
  font-size: 4.5rem;
}

h3, .screensize:after, small {
  font-family: "brother-1816", sans-serif;
  text-transform: uppercase;
  font-size: 1.8rem;
  letter-spacing: 0.03ch;
  text-rendering: geometricPrecision;
  font-weight: bold;
}

small {
  font-size: 1.4rem;
  letter-spacing: 0.1ch;
  opacity: 0.5;
  text-rendering: geometricPrecision;
  font-weight: normal;
}

body {
  font-family: "brother-1816", sans-serif;
  font-size: 1.62rem;
  font-weight: 400;
  line-height: 1.37;
}

input {
  font-size: 1.33rem;
  font-weight: 500;
}

p, .hero-text, .navbar-item, input {
  line-height: 1.69;
}

.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: black;
  animation: preloader-out 1s 1.5s forwards;
}
.preloader.light {
  filter: invert(0.85);
}

.preloader-animation {
  margin: auto;
  min-width: 8%;
}

@keyframes preloader-out {
  from {
    opacity: 1;
    pointer-events: fill;
  }
  to {
    opacity: 0;
    pointer-events: none;
  }
}
#navbar-fixed-wrapper {
  position: fixed;
  z-index: 100;
  top: 0;
}

#navbar {
  background: #111;
  max-height: 105px;
  overflow: hidden;
  display: flex;
  transition: max-height 0.5s ease;
}
#navbar.light {
  background: #fdf7f7;
}
#navbar.minimized {
  max-height: 70px;
  font-size: 1.5rem;
  height: auto;
}
#navbar.minimized #navbar-content {
  max-height: 70px;
  height: auto;
}
#navbar.minimized #navbar-content li .navbar-item {
  padding: 8px 13px;
}
#navbar.hidden {
  max-height: 1px;
  height: auto;
}

#navbar-logo {
  width: 240px;
  height: 72px;
  display: flex;
  margin: 16px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.15s, transform 0.2s;
}
@media (max-width: 768px) {
  #navbar-logo {
    width: 72px;
  }
  #navbar-logo .navbar-logo-text {
    display: none;
  }
  #navbar-logo .navbar-logo-symbol {
    width: 72px;
  }
}
#navbar-logo:active {
  transform: scale(0.95);
}

@media (max-width: 768px) {
  #navbar.minimized #navbar-content #navbar-wrapper #navbar-logo .navbar-logo-symbol {
    transform: scale(1);
    width: 85%;
  }
}

.navbar-logo-symbol {
  width: 44%;
  transition: all 0.3s ease;
  transform-origin: left;
}

.navbar-logo-text {
  padding-left: 4%;
  transform-origin: left;
  transition-property: opacity, transform;
  transition: 0.2s ease;
  opacity: 1;
}

.logo-text-fill.light {
  fill: #111;
}

#navbar.hidden #navbar-wrapper > #navbar-logo .navbar-logo-text,
#navbar.hidden #navbar-wrapper > #navbar-logo .navbar-logo-symbol {
  opacity: 0;
}

.cls-1.light:not(.logo-circle) {
  fill: #222;
}

#navbar.minimized #navbar-wrapper #navbar-logo {
  cursor: initial;
}

#navbar.minimized #navbar-wrapper #navbar-logo .navbar-logo-symbol:hover:hover {
  opacity: 0.8;
  cursor: pointer;
}

#navbar.minimized #navbar-wrapper > #navbar-logo .navbar-logo-symbol {
  transform: scale(0.85) translateX(-10px);
  width: 70%;
}

#navbar.minimized #navbar-wrapper > #navbar-logo .navbar-logo-text {
  opacity: 0;
}

#navbar:not(.minimized) #navbar-wrapper:hover #navbar-logo {
  opacity: 0.9;
}

#navbar-content {
  max-width: 1600px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 105px;
  transition: max-height 0.5s ease, font-size 0.5s ease, opacity 0.1s ease;
}
#navbar-content.hidden {
  max-height: 0;
  height: auto;
  font-size: 0;
}

#navbar-items {
  display: flex;
  flex-flow: row;
  list-style-type: none;
  margin-right: 2ch;
}
@media (max-width: 768px) {
  #navbar-items {
    display: none;
  }
}

.navbar-item {
  padding: 10px 15px;
  position: relative;
  transition: 0.5s;
  transition: transform 0.2s, opacity 0.2s, padding 0.5s ease;
}
.navbar-item::after {
  background: gray;
  position: absolute;
  height: 2px;
  width: 60%;
  top: 100%;
  left: 20%;
  content: "";
  transition: transform 0.5s ease;
  transform-origin: right;
  transform: scaleX(0);
}
.navbar-item:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.navbar-item.active {
  font-weight: bold;
}
.navbar-item.active::after {
  transform: scaleX(1);
  transform-origin: left;
  background: white;
}

.nav-icon {
  font-size: 2rem;
  width: 2rem;
  height: 100%;
  margin: auto;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease, font-size 0.2s ease;
  transform: scale(1);
  margin-left: 40px;
}
.nav-icon:active {
  transform: scale(1.3);
}
.nav-icon:hover {
  opacity: 0.8;
}

#navbar.minimized #navbar-items .nav-icon {
  font-size: 1.6rem;
}

#navbar-wrapper {
  overflow: hidden;
  display: inline-block;
  width: auto;
}
@media (max-width: 768px) {
  #navbar-wrapper {
    width: 120px;
  }
}

.navbar-gradient {
  width: 100%;
  height: 5px;
  background: gray;
}

.navbar-gradient-overlay {
  width: 100%;
  height: 5px;
  background: transparent;
  position: relative;
  transition: opacity 0.3s ease;
  opacity: 0;
}

#navbar-gradient-overlay-1 {
  bottom: 5px;
}
#navbar-gradient-overlay-1.visible {
  opacity: 1;
}

#navbar-gradient-overlay-2 {
  bottom: 10px;
}
#navbar-gradient-overlay-2.visible {
  opacity: 1;
}

#navbar-progress {
  width: 100%;
  height: 5px;
  position: relative;
  bottom: 15px;
  background: #eee;
  transform-origin: left;
  transition: transform 0.1s ease, opacity 0.3s ease-out;
  transform: scaleX(0);
  opacity: 0;
}

#navbar.hidden ~ #navbar-progress {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .navbar-item {
    font-size: 2.8rem;
    transition: opacity 0.1s ease, transform 0.2s ease !important;
    opacity: 0;
    transform: translateY(3rem);
    padding: 0;
    margin: 0;
  }
  .navbar-item::after {
    display: none;
  }
}

#hamburger {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  row-gap: 1.3rem;
  position: relative;
  z-index: 501;
}
@media (min-width: 768px) {
  #hamburger {
    display: none;
  }
}

#hamburger-toggle {
  flex: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: absolute;
  margin: 0;
  padding: 0;
  background: red;
  opacity: 0;
}
#hamburger-toggle:checked {
  background: green;
}

.hamburger-line {
  width: 60%;
  height: 4px;
  background: #eee;
  transition: transform 0.3s ease;
  transform-origin: right;
  pointer-events: none;
}
.hamburger-line.light {
  background: #111;
}

#hamburger-toggle:checked ~ #hamburger-top {
  transform: translate(-1rem) rotateZ(-45deg) scaleX(0.99);
}

#hamburger-toggle:checked ~ #hamburger-mid {
  transform: scaleX(0);
}

#hamburger-toggle:checked ~ #hamburger-bot {
  transform: translate(-1rem) rotateZ(45deg) scaleX(0.99);
}

#mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: #111;
  z-index: 500;
  overflow: hidden;
  clip-path: circle(0% at 94% 0%);
  transition: clip-path 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035), opacity 0.4s;
  opacity: 0;
}
@media screen and (max-width: 768px) {
  #mobile-menu {
    display: flex;
  }
  #mobile-menu #mobile-menu-items li:nth-of-type(1) .navbar-item {
    transition-delay: 0.15s !important;
    transition: translateY(2);
  }
  #mobile-menu #mobile-menu-items li:nth-of-type(2) .navbar-item {
    transition-delay: 0.25s !important;
    transition: translateY(2);
  }
  #mobile-menu #mobile-menu-items li:nth-of-type(3) .navbar-item {
    transition-delay: 0.35s !important;
    transition: translateY(2);
  }
  #mobile-menu #mobile-menu-items li:nth-of-type(4) .navbar-item {
    transition-delay: 0.45s !important;
    transition: translateY(2);
  }
  #mobile-menu #mobile-menu-items li:nth-of-type(5) .navbar-item {
    transition-delay: 0.55s !important;
    transition: translateY(2);
  }
  #mobile-menu #mobile-menu-items li:nth-of-type(6) .navbar-item {
    transition-delay: 0.65s !important;
    transition: translateY(2);
  }
  #mobile-menu #mobile-menu-items li:nth-of-type(7) .navbar-item {
    transition-delay: 0.75s !important;
    transition: translateY(2);
  }
  #mobile-menu #mobile-menu-items li:nth-of-type(8) .navbar-item {
    transition-delay: 0.85s !important;
    transition: translateY(2);
  }
  #mobile-menu #mobile-menu-items li:nth-of-type(9) .navbar-item {
    transition-delay: 0.95s !important;
    transition: translateY(2);
  }
  #mobile-menu .active {
    font-size: 2.9rem;
  }
  #mobile-menu.light {
    background-color: #eee;
    color: #111;
  }
}

#mobile-menu-items {
  max-width: 80%;
}

#mobile-menu.on {
  clip-path: circle(90% at 50% 50%);
  transition: clip-path 0.3s ease-in;
  opacity: 1;
}
#mobile-menu.on #mobile-menu-items .navbar-item {
  opacity: 1;
  transform: translateY(0);
}

#mobile-menu-social-icons-container {
  background: transparent;
  display: flex;
  align-items: flex-start;
  margin-top: 3rem;
  width: 100%;
  flex-wrap: wrap;
}
#mobile-menu-social-icons-container .mobile-menu-social-icon:nth-of-type(1) {
  transition-delay: 0.3s;
}
#mobile-menu-social-icons-container .mobile-menu-social-icon:nth-of-type(2) {
  transition-delay: 0.4s;
}
#mobile-menu-social-icons-container .mobile-menu-social-icon:nth-of-type(3) {
  transition-delay: 0.5s;
}
#mobile-menu-social-icons-container .mobile-menu-social-icon:nth-of-type(4) {
  transition-delay: 0.6s;
}
#mobile-menu-social-icons-container .mobile-menu-social-icon:nth-of-type(5) {
  transition-delay: 0.7s;
}
#mobile-menu-social-icons-container .mobile-menu-social-icon:nth-of-type(6) {
  transition-delay: 0.8s;
}
#mobile-menu-social-icons-container .mobile-menu-social-icon:nth-of-type(7) {
  transition-delay: 0.9s;
}
#mobile-menu-social-icons-container .mobile-menu-social-icon:nth-of-type(8) {
  transition-delay: 1s;
}
#mobile-menu-social-icons-container .mobile-menu-social-icon:nth-of-type(9) {
  transition-delay: 1.1s;
}
#mobile-menu-social-icons-container .mobile-menu-social-icon:nth-of-type(10) {
  transition-delay: 1.2s;
}
#mobile-menu-social-icons-container .mobile-menu-social-icon:nth-of-type(11) {
  transition-delay: 1.3s;
}
#mobile-menu-social-icons-container .mobile-menu-social-icon:nth-of-type(12) {
  transition-delay: 1.4s;
}
#mobile-menu-social-icons-container .mobile-menu-social-icon:nth-of-type(13) {
  transition-delay: 1.5s;
}
#mobile-menu-social-icons-container .mobile-menu-social-icon:nth-of-type(14) {
  transition-delay: 1.6s;
}
#mobile-menu-social-icons-container .mobile-menu-social-icon:nth-of-type(15) {
  transition-delay: 1.7s;
}
#mobile-menu-social-icons-container .mobile-menu-social-icon:nth-of-type(16) {
  transition-delay: 1.8s;
}
#mobile-menu-social-icons-container .mobile-menu-social-icon:nth-of-type(17) {
  transition-delay: 1.9s;
}
#mobile-menu-social-icons-container .mobile-menu-social-icon:nth-of-type(18) {
  transition-delay: 2s;
}
#mobile-menu-social-icons-container .mobile-menu-social-icon:nth-of-type(19) {
  transition-delay: 2.1s;
}

.mobile-menu-social-icon {
  width: 6rem;
  height: 6rem;
  margin-right: 1.5rem;
  margin-top: 1rem;
  border-radius: 50%;
  transition: transform 0.3s;
  transform: scale(0);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 3rem;
  cursor: pointer;
}

#mobile-menu.on #mobile-menu-social-icons-container .mobile-menu-social-icon {
  transform: scale(1);
}

#mobile-theme-toggle {
  position: absolute;
  bottom: 5%;
  font-size: 2.4rem;
  cursor: pointer;
  display: none;
}

#gradient stop {
  transition: stop-color 0.5s ease;
}

#theme-toggle {
  display: none;
}

#navbar-social-logos {
  display: none !important;
  padding-left: 3rem;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
}
@media (min-width: 1024px) {
  #navbar-social-logos {
    display: flex;
  }
}

#navbar-social-logos-divider {
  background: white;
  height: 100%;
  width: 1px;
  margin-right: 2rem;
}

#hero {
  padding-top: 8rem;
  background: linear-gradient(0deg, #141414, #262626);
  height: 100vh;
  width: 100%;
}
#hero.light {
  background: linear-gradient(0deg, #eee, #ccc);
}
#hero .container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-flow: column;
  height: 100%;
}

.hero-heading {
  font-size: 72px;
  font-weight: 500;
  letter-spacing: 0.07ch;
  margin-bottom: 30px;
}

.hero-text {
  max-width: 50ch;
  font-weight: 200;
  font-size: 2rem;
  line-height: 1.4;
  margin-bottom: 1rem;
}

#we-create {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.6rem;
  margin-top: 25px;
  white-space: nowrap;
}

#we-create-underline {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: column;
  width: 60%;
  min-width: 20ch;
  height: 3.5rem;
  border-bottom: 1px solid white;
  padding-bottom: 0.4rem;
  margin-left: 1ch;
}

#we-create-text {
  transition-property: transform, opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transform: translateY(0);
}

#we-create-text.hidden {
  opacity: 0;
  transform: translateY(2rem);
}

.scroll-indicator-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  position: absolute;
  left: 0;
  right: 0;
  width: 128px;
  margin: auto;
  padding: 10px;
  opacity: 0;
  animation: scroll-indicator 1s ease infinite alternate, fade-scroll-indicator 1s 3s ease forwards;
}
.scroll-indicator-wrapper * {
  transition: opacity 0.2s ease-in;
}
.scroll-indicator-wrapper:hover * {
  opacity: 0.5;
}

.scroll-indicator {
  width: 24px;
  height: 24px;
  transform: rotate(45deg);
  border: solid white;
  border-width: 0 2px 2px 0;
}

.scroll-indicator-label {
  text-align: center;
  color: white;
  letter-spacing: 0.2ch;
  font-size: 1.2rem;
  margin-bottom: 20px;
  opacity: 1;
}

@keyframes scroll-indicator {
  from {
    bottom: 5%;
  }
  to {
    bottom: 7%;
  }
}
@keyframes fade-scroll-indicator {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.cta {
  margin-bottom: 12%;
  margin-top: 50px;
}

.cta .btn, .cta #cta-home {
  width: 250px;
  margin: 0 10px;
}

.fa-info-circle {
  cursor: help;
}

footer {
  width: 100%;
  background: #111;
}
footer.light {
  background: #fdf7f7;
}
@media (max-width: 768px) {
  footer {
    overflow-x: hidden;
  }
}

#footer-logo-anchor {
  display: inline-block;
  transition: opacity 0.3s ease;
}

#footer-logo {
  margin-right: 3%;
  justify-content: center;
  align-items: flex-start;
}

#footer-logo-img {
  min-width: 128px;
  margin-top: 30px;
  margin: 30px;
}

#footer-page-links {
  padding: 20px;
  margin-right: 2%;
}

.footer-page-link {
  margin-bottom: 0 !important;
  padding-bottom: 10px;
}
.footer-page-link span {
  position: relative;
}
.footer-page-link span:after {
  content: " ";
  position: absolute;
  top: calc(100% + 3px);
  left: 0;
  width: 120%;
  height: 2px;
  background: gray;
  transition: transform 0.3s ease;
  transform-origin: right;
  transform: scaleX(0);
}
.footer-page-link:hover span:after {
  transform: scaleX(1);
  transform-origin: left;
}

.footer-recent-post.mobile,
.footer-recent-post.mobile {
  display: none;
}

@media screen and (max-width: 960px) {
  #footer-posts {
    display: none;
  }

  .footer-recent-post {
    font-size: 1.3rem;
  }
  .footer-recent-post img {
    max-height: 48px;
    max-width: 48px;
  }

  .footer-recent-post.mobile {
    display: flex;
  }
}
#footer-posts {
  padding: 20px;
  padding-top: 30px !important;
}
@media (max-width: 768px) {
  #footer-posts {
    padding-top: 0px !important;
    max-width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5rem;
  }
  #footer-posts .footer-recent-post {
    border-bottom: none;
    margin-right: 1rem;
  }
  #footer-posts .footer-recent-post picture {
    margin-top: 3px;
  }
  #footer-posts .footer-recent-post span {
    margin-bottom: 1ch;
  }
}

.footer-recent-post {
  display: flex;
  border-bottom: #292929 1px solid;
  margin-bottom: 0.4rem;
  padding-top: 0.6rem;
  padding-bottom: 0.3rem;
  font-weight: bold;
  font-size: 0.82em;
  cursor: pointer;
  transition: background-color 0.7s ease;
}
.footer-recent-post:nth-of-type(5) {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
.footer-recent-post picture {
  margin-right: 1.5ch;
}
.footer-recent-post:hover {
  background: #292929;
}

#footer-legal {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 1rem;
  border-top: #292929 1px solid;
}
#footer-legal * {
  padding: 2rem;
  padding-bottom: 1rem;
}
@media (max-width: 768px) {
  #footer-legal {
    align-items: flex-start;
    text-align: left;
    justify-content: flex-start;
  }
}

#footer-social {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  margin-bottom: 3.2rem;
}
@media (max-width: 768px) {
  #footer-social {
    align-items: flex-start;
    margin-bottom: 2.3rem;
  }
}

#footer-social-icons {
  display: flex;
}

.footer-social-icon {
  font-size: 2.5rem;
  border: 2px solid white;
  border-radius: 50%;
  padding: 1rem;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
  margin-top: 20px;
  margin-bottom: 10px;
  border: none;
  background: #222;
  padding: 1.5rem;
  cursor: pointer;
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
}
.footer-social-icon:hover:before {
  opacity: 1;
}
.footer-social-icon:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, #db0027 5%, #15b8fc 95%);
  width: 100%;
  height: 100%;
  transition: opacity 0.2s;
  opacity: 0;
  z-index: -1;
  border-radius: 50%;
}

.footer-label {
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0.4;
  font-size: 0.8em;
  letter-spacing: 0.1ch;
}

#footer-wrapper {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: left;
}
#footer-wrapper ul {
  padding-top: 30px;
}
#footer-wrapper ul li:first-of-type {
  margin-bottom: 1ch;
}
@media (max-width: 768px) {
  #footer-wrapper {
    flex-wrap: wrap;
  }
}

#footer-posts li:nth-of-type(2) {
  margin-bottom: 1.5ch;
}

#footer-contact {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-end;
  flex-grow: 1;
  padding: 30px 20px;
  height: 100%;
  min-width: 30%;
}
@media (max-width: 768px) {
  #footer-contact {
    align-items: flex-start;
    padding-top: 5px;
  }
}

#footer-email {
  display: flex;
  flex-flow: column;
  text-align: right;
}
@media (max-width: 768px) {
  #footer-email {
    text-align: left;
  }
}
#footer-email .footer-label {
  margin-bottom: 10px;
}

#footer-email-text {
  font-size: 2.1rem;
  font-weight: lighter;
  cursor: pointer;
}

#footer-email-text:hover + #footer-email-underline {
  transform: scaleY(2);
}

#footer-email-text:hover + #footer-email-underline:after {
  opacity: 1;
}

#footer-email-underline {
  background: transparent linear-gradient(to right, #15b8fc, #db0027);
  width: 100%;
  height: 0.2rem;
  margin-top: 1rem;
  transform-origin: top;
  transition: transform 0.2s;
  position: relative;
}
#footer-email-underline:after {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to left, #15b8fc, #db0027);
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.btn, #cta-home {
  background: #eee;
  color: #171717;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  text-rendering: geometricPrecision;
  letter-spacing: 0.05ch;
  font-size: 1.25rem;
  margin: 1rem 0.5rem;
  padding: 15px 30px;
  transition-property: background-color, color;
  transition: 0.3s;
  display: inline-block;
  border-radius: 100vh !important;
  min-width: 150px;
  text-align: center;
}
.btn:hover, #cta-home:hover {
  background: #bbbbbb;
  color: black;
}
.btn.outline:hover, .outline#cta-home:hover {
  background: rgba(238, 238, 238, 0.1);
}
.btn:active, #cta-home:active {
  background: white;
  color: gray;
  box-shadow: inset 0 0 20px #000000;
  transform: translate(2px, 2px);
}
.btn.light, .light#cta-home {
  background: #292929;
  color: #eee;
}
.btn.light:hover, .light#cta-home:hover {
  background: #434343;
  color: white;
}
.btn.sm, .sm#cta-home {
  padding: 10px 20px;
  font-size: 1rem;
}
.btn.lg, #cta-home {
  padding: 20px 30px;
  font-size: 1.4rem;
}
.btn.outline, .outline#cta-home {
  background: transparent;
  color: #eee;
  border: 1px solid #eee;
}
.btn.outline.light, .outline.light#cta-home {
  color: #111;
  border-color: #292929;
}
.btn.outline.light:hover, .outline.light#cta-home:hover {
  background: rgba(41, 41, 41, 0.05);
}
.btn.inactive, .inactive#cta-home {
  opacity: 0.5;
}

.back-to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  background: #111;
  border-radius: 50%;
  opacity: 0.75;
  border: 2px gray solid;
  position: fixed;
  bottom: 2vh;
  right: 2vw;
  cursor: pointer;
  pointer-events: all;
  transition: 0.3s, transform 1s;
}
.back-to-top:hover {
  background: #eee;
  color: #171717;
  opacity: 1;
  border-color: white;
}
.back-to-top.light {
  background: lightgray;
}
.back-to-top.light:hover {
  background: #171717;
  color: #eee;
}
.back-to-top.hidden {
  pointer-events: none;
  opacity: 0;
  transform: scale(0);
  transition: 1s;
}

.back-to-top-label {
  width: 200px;
  height: 64px;
  position: fixed;
  bottom: 2vh;
  right: 2vw;
  background: white;
  transform: scale(1);
  transition: transform 1s;
  transform-origin: right;
}
.back-to-top-label.hidden {
  transform: scaleX(0);
  transition: transform 1s;
}

.breakpoint {
  width: 1px;
  height: 1px;
  background: transparent;
  position: absolute;
  left: 0;
}

#back-to-top-breakpoint.breakpoint {
  top: 100vh;
}

#cta-home {
  min-width: 300px;
}

#contact-form {
  background: #292929;
  display: flex;
  flex-flow: column;
  width: 500px;
  height: 800px;
  border-radius: 2rem;
  padding: 4rem;
  align-items: flex-start;
}
#contact-form.light {
  background: #eee;
  box-shadow: 0 0 5px gray;
}

#contact-submit {
  width: 60%;
  align-self: center;
}

.contact-form-label {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
}

input {
  display: inline-block;
  border-radius: 100vh;
  outline: none;
  flex: none;
}

.form-heading {
  font-family: brother-1816, sans-serif;
  font-size: 3.2rem;
  font-weight: bold;
  margin-bottom: 5.5rem;
  min-width: 17ch;
}

.form-row {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.form-row label {
  width: 6ch;
}
.form-row input[type=text],
.form-row input[type=email] {
  flex-grow: 1;
  max-width: 85%;
  height: 36px;
}

#contact-category-select-wrapper {
  display: flex;
  flex-flow: column;
  width: 100%;
  margin-top: 1rem;
}
#contact-category-select-wrapper label {
  margin-bottom: 1rem;
  margin-left: 0.2ch;
}
#contact-category-select-wrapper .custom-select {
  flex-grow: 1;
  position: relative;
  display: block;
  width: 100%;
  height: 36px;
  border: transparent 2px solid;
  border-radius: 100vh;
  margin-bottom: 2rem;
  background: white url("/img/form-question.svg") left 15px center/30px no-repeat;
  z-index: 99;
}
#contact-category-select-wrapper .custom-select.on, #contact-category-select-wrapper .custom-select:focus {
  outline: none;
  border: #15b8fc 2px solid;
}

#custom-option-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 100vh;
  box-shadow: 0px 15px 15px -5px rgba(0, 0, 0, 0.452), 5px 5px 15px 5px rgba(0, 0, 0, 0);
  z-index: 100;
}
#custom-option-shadow + .custom-option {
  background: lime;
  height: 46px;
  margin-top: -10px;
  z-index: -1;
}

.custom-option {
  position: relative;
  top: 36px;
  background: red;
  height: 32px;
  width: 98%;
  margin: auto;
}
.custom-option:last-of-type {
  border-radius: 0 0 15px 15px;
}

#contact-category-select {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  pointer-events: none;
  opacity: 0;
}

.dropdown-arrow {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 10px solid #333;
  position: absolute;
  right: 18px;
  top: calc((36px - 10px) / 2);
}
.dropdown-arrow.on {
  transform: rotate(180deg) translateY(2px);
}

textarea {
  resize: none;
}

#contact-message {
  height: 300px;
  width: 100%;
  margin-bottom: 4rem;
  border-radius: 2rem;
  padding: 2rem;
  font-size: 1.4rem;
  font-family: brother-1816, sans-serif;
  font-weight: 500;
  text-rendering: geometricPrecision;
}

input, textarea, select {
  border: transparent 2px solid;
  box-sizing: border-box;
}
input:focus, textarea:focus, select:focus {
  outline: none !important;
  border: #15b8fc 2px solid;
}

#contact-wrapper {
  display: flex;
  flex-flow: row;
  margin-top: 200px;
  align-items: center;
}

#contact-name {
  background: white url("/img/form-user.svg") left 15px center/30px no-repeat !important;
  padding-left: 56px;
  text-transform: capitalize;
}

#contact-email {
  background: white url("/img/form-email.svg") left 15px center/30px no-repeat !important;
  padding-left: 56px;
}

.dropdown-wrapper {
  position: relative;
  display: block;
  width: 100%;
  height: 36px;
  border-radius: 100vh;
  margin-bottom: 2rem;
  background: red;
  z-index: 99;
  cursor: pointer;
  outline: none;
}

.dropdown {
  flex-grow: 1;
  position: relative;
  display: block;
  width: 100%;
  height: 36px;
  border-radius: 100vh;
  margin-bottom: 2rem;
  background: white url("/img/form-question.svg") left 15px center/30px no-repeat;
  z-index: 1;
  font-weight: 500;
  color: #111;
  display: flex;
  align-items: center;
  padding-left: 56px;
  border: 2px solid transparent;
}
.dropdown::selection {
  background: transparent;
}
.dropdown.on {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), 0 2px 2px rgba(0, 0, 0, 0.05), 0 4px 4px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.05);
}
.dropdown.on, .dropdown:focus {
  outline: none;
  border: #15b8fc 2px solid;
}

.dropdown-arrow {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 10px solid #333;
  z-index: 2;
  position: absolute;
  right: 18px;
  top: calc((36px - 10px) / 2);
}
.dropdown-arrow.on {
  transform: rotate(180deg) translateY(2px);
}

.dropdown-select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100vh;
  opacity: 0;
  pointer-events: none;
  z-index: 9999;
}
@media (max-width: 768px) {
  .dropdown-select {
    pointer-events: all;
  }
}

.dropdown-option {
  width: 96%;
  height: 36px;
  background: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.02), 0 2px 2px rgba(0, 0, 0, 0.02), 0 4px 4px rgba(0, 0, 0, 0.03), 0 8px 8px rgba(0, 0, 0, 0.04), 0 16px 16px rgba(0, 0, 0, 0.05);
  color: #111;
  position: relative;
  padding: 0 20px;
  display: flex;
  align-items: center;
  top: -35px;
  font-weight: 400;
  transition: background-color 0.2s;
  border-top: rgba(0, 0, 0, 0.1) 1px solid;
  margin: auto;
  display: none;
}
.dropdown-option.on {
  display: flex;
}
.dropdown-option:hover {
  background-color: #f2f2f2;
}
.dropdown-option:last-of-type {
  border-radius: 0 0 15px 15px;
}

.dropdown-option-padding + .dropdown-option {
  height: calc(36px + 16px);
  padding-top: 16px;
}

#pricing-table {
  display: inline-block;
  height: 700px;
  background: red;
  width: 80%;
  flex-basis: 1;
}

#home-gallery {
  background: #111 linear-gradient(#111, #222) center/cover;
  text-align: right;
}
#home-gallery h2 {
  margin-bottom: 2.4rem;
  text-align: left;
}
#home-gallery a {
  margin-top: 2.4rem;
}

.wave {
  background: url("../img/wave.svg") center bottom/cover no-repeat;
  padding-top: calc(192 / 1440 * 100%);
  height: 100%;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: row;
  gap: 2rem;
}

.gallery-item {
  background: #111;
  display: flex;
  flex-flow: column;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
}

.thumbnail-title {
  text-align: left;
  padding: 1rem 2rem;
  text-transform: capitalize;
}

.thumbnail-tags {
  text-align-last: left;
  margin-left: 2rem;
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.thumbnail-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #ffc400;
  border: 0.1rem solid #ffc400;
  padding: 0.5rem 1.15rem;
  font-family: "letter-gothic-std";
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
  border-radius: 0.7rem;
  margin-right: 0.5rem;
  text-rendering: geometricPrecision;
}

.thumbnail-wrapper {
  width: 100%;
  height: 0;
  padding-top: calc(632/808 * 100%);
  background: red url("https://via.placeholder.com/808x632") center center/cover no-repeat;
  overflow: hidden;
  position: relative;
}

.thumbnail {
  background: red url("https://via.placeholder.com/808x632") center center/cover no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
}

.gallery-item:nth-of-type(1) .thumbnail-wrapper .thumbnail {
  background: url("../img/auto/happy-bee-lg.jpg") center center/cover no-repeat;
}

.thumbnail-wrapper:hover .thumbnail {
  transform: scale(1.2);
  opacity: 0.8;
  filter: brightness(1.05);
}

body {
  background-color: #171717;
  color: #eee;
  transition: background-color 0.3s ease, color 0.3s ease;
}
body.light {
  background: #eee;
  color: #292929;
}

#favicon-svg {
  width: 64px;
  height: 64px;
}

.screensize {
  width: 100%;
  height: 60px;
  background: gray;
  max-width: 1200px;
  margin: auto;
  position: relative;
  top: 500px;
}
.screensize:after {
  content: "TEST";
  background: red;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .screensize:after {
    background: blue;
    content: "PHONE";
  }
}
@media (min-width: 768px) {
  .screensize:after {
    background: maroon;
    content: "TABLET";
  }
}
@media (min-width: 1024px) {
  .screensize:after {
    background: green;
    content: "LAPTOP";
  }
}
@media (min-width: 1200px) {
  .screensize:after {
    background: purple;
    content: "DESKTOP";
  }
}
@media (min-width: 1201px) {
  .screensize:after {
    background: orangered;
    content: "DESKTOP LARGE";
  }
}