-var formspreeURL = 'https://formspree.io/f/myyldeon'
form#contact-form(name="something" action=formspreeURL method='POST' autocomplete="off")
  h1.form-heading Let's have a chat

  .form-row
    label.contact-form-label Name
    input#contact-name(type='text' name='name' fs-name='name' autocomplete="chrome-off" required)

  .form-row
    label.contact-form-label Email
    input#contact-email(type='email', name='email' fs-name='email' autocomplete="chrome-off" required)

  #contact-category-select-wrapper
    label.contact-form-label How can we help you?
    .dropdown-wrapper
      .dropdown(tabindex='0')
      .dropdown-arrow
      select.dropdown-select(name='category' required tabindex='-1')
        option I want to order a design
        option I have a business offer
        option I have a question
        option Something else
      .dropdown-option-padding
      .dropdown-option I want to order a design
      .dropdown-option I have a business offer
      .dropdown-option I have a question
      .dropdown-option Something else
  

  textarea#contact-message(name='MESSAGE', autocomplete="off", placeholder="Your message")
  
  button.btn#contact-submit(type='submit') Submit