-var formspreeURL = 'https://formspree.io/f/myyldeon'
form#contact-form(name="something" action=formspreeURL method='POST' autocomplete="off")
  h1.form-heading Let's have a chat

  .form-row
    label.contact-form-label Name
    input#contact-name(type='text' name='NAME' autocomplete="chrome-off")

  .form-row
    label.contact-form-label Email
    input#contact-email(type='email', name='_replyto', autocomplete="chrome-off")

  #contact-category-select-wrapper
    label.contact-form-label How can we help you?
    .custom-select
      select#contact-category-select
        option 
        option Option 1
        option Option 2
        option Option 3
        option Option 4

  textarea#contact-message(name='MESSAGE', autocomplete="off", placeholder="Your message")
  
  button.btn#contact-submit(type='submit') Submit