.back-to-top-label.hidden
a.back-to-top.hidden(href="#navbar")
  i.fas.fa-arrow-up.fa-2x

#back-to-top-breakpoint.breakpoint

footer
  include _page-links
  include _post-data
  .container
    
    #footer-wrapper
      #footer-logo
        a#footer-logo-anchor(href='/')
          img#footer-logo-img(src="img/logo-vertical-text.svg", alt="")
      ul#footer-page-links
        li
          span.footer-label Navigation
        a(href='/')
          li.footer-page-link
            span Home
        each val, index in pageNames
          a(href='/' + pageURLs[index])
            li.footer-page-link
              span #{val}
      ul#footer-posts
        li
          span.footer-label Recent posts
        li#footer-posts-list
          - for (let i = postsArr.length, j = 1; j<=4; j++)
            unless j==4
              li.footer-recent-post
                  +footer-recent-post-img(postsArr[i-j].image)
                  span #{postsArr[i-j].title}
            else
              li.footer-recent-post
                +footer-recent-post-img(postsArr[i-j].image)
                span #{postsArr[i-j].title}
      #footer-contact    
        #footer-social
          span.footer-label Follow us
          #footer-social-icons
            .footer-social-icon
              i.fab.fa-youtube
            .footer-social-icon
              i.fab.fa-instagram
            .footer-social-icon
              i.fab.fa-behance
            .footer-social-icon
              i.fab.fa-twitter
        #footer-email
          span.footer-label Email
          a#footer-email-text project.arcanist@gmail.com
          #footer-email-underline
    
    #footer-legal
      a(href='/privacypolicy') Privacy Policy
      a &copy Copyright 2021

script(src='js/parcel/bundle.min.js')
script(src='https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15/dist/smooth-scroll.polyfills.min.js')
script
  | const scroll = new SmoothScroll('a[href*="#"]', {
  |   easing: 'easeInOutQuad',
  |   speed: 500,
  |   speedAsDuration: true
  | });