-const domain = 'https://arcanist.art/'
-const pageNames = ['Work', 'About', 'Blog','Contact']
//- -const pageURLs = ['work', 'about', 'blog', 'contact']
-const pageURLs = ['work.html', 'about.html', 'blog.html', 'contact.html']