mixin collapsible(name, label)
  .collapsible-label #{label}
    input.collapsible-show(type="radio" name=name)
    input.collapsible-hide(type="radio" name=name)
    .collapsible-arrow
    .collapsible-content


#pricing-table
  #pricing-table-heading PRICING
  #pricing-table-content
    +collapsible('test', 'First thing')
    +collapsible('test', 'Second')
    +collapsible('test', 'Third')