mixin collapsible(name, label)
  .collapsible-label #{label}
    input.collapsible-show(type="radio" name=name)
    input.collapsible-hide(type="radio" name=name)
    .collapsible-arrow
    .collapsible-content
        block


#pricing-table
  #pricing-table-heading PRICING
  #pricing-table-content
    +collapsible('test', 'Logo')
      .pricing-cards
        .pricing-card
          .pricing-card-price 150€
          .pricing-card-features
            span.pricing-card-feature Feature one
            span.pricing-card-feature Feature two
            span.pricing-card-feature Feature three
            span.pricing-card-feature.bold Feature four
        .pricing-card
          .pricing-card-price 250€
          .pricing-card-features
            span.pricing-card-feature Feature one
            span.pricing-card-feature Feature two
            span.pricing-card-feature Feature three
            span.pricing-card-feature.bold Feature four
        .pricing-card
          .pricing-card-price 300€
          .pricing-card-features
            span.pricing-card-feature Feature one
            span.pricing-card-feature Feature two
            span.pricing-card-feature Feature three
            span.pricing-card-feature.bold Feature four
    +collapsible('test', 'Leaflet')
      .pricing-cards
        .pricing-card
          .pricing-card-price 150€
          .pricing-card-features
            span.pricing-card-feature Feature one
            span.pricing-card-feature Feature two
            span.pricing-card-feature Feature three
            span.pricing-card-feature.bold Feature four
        .pricing-card
          .pricing-card-price 250€
          .pricing-card-features
            span.pricing-card-feature Feature one
            span.pricing-card-feature Feature two
            span.pricing-card-feature Feature three
            span.pricing-card-feature.bold Feature four
        .pricing-card
          .pricing-card-price 300€
          .pricing-card-features
            span.pricing-card-feature Feature one
            span.pricing-card-feature Feature two
            span.pricing-card-feature Feature three
            span.pricing-card-feature.bold Feature four
    +collapsible('test', 'Poster')
      .pricing-cards
        .pricing-card
          .pricing-card-price 150€
          .pricing-card-features
            span.pricing-card-feature Feature one
            span.pricing-card-feature Feature two
            span.pricing-card-feature Feature three
            span.pricing-card-feature.bold Feature four
        .pricing-card
          .pricing-card-price 250€
          .pricing-card-features
            span.pricing-card-feature Feature one
            span.pricing-card-feature Feature two
            span.pricing-card-feature Feature three
            span.pricing-card-feature.bold Feature four
        .pricing-card
          .pricing-card-price 300€
          .pricing-card-features
            span.pricing-card-feature Feature one
            span.pricing-card-feature Feature two
            span.pricing-card-feature Feature three
            span.pricing-card-feature.bold Feature four
    +collapsible('test', 'Illustration')
      .pricing-cards
        .pricing-card
          .pricing-card-price 150€
          .pricing-card-features
            span.pricing-card-feature Feature one
            span.pricing-card-feature Feature two
            span.pricing-card-feature Feature three
            span.pricing-card-feature.bold Feature four
        .pricing-card
          .pricing-card-price 250€
          .pricing-card-features
            span.pricing-card-feature Feature one
            span.pricing-card-feature Feature two
            span.pricing-card-feature Feature three
            span.pricing-card-feature.bold Feature four
        .pricing-card
          .pricing-card-price 300€
          .pricing-card-features
            span.pricing-card-feature Feature one
            span.pricing-card-feature Feature two
            span.pricing-card-feature Feature three
            span.pricing-card-feature.bold Feature four
    +collapsible('test', 'Website')
      .pricing-cards
        .pricing-card
          .pricing-card-price 150€
          .pricing-card-features
            span.pricing-card-feature Feature one
            span.pricing-card-feature Feature two
            span.pricing-card-feature Feature three
            span.pricing-card-feature.bold Feature four
        .pricing-card
          .pricing-card-price 250€
          .pricing-card-features
            span.pricing-card-feature Feature one
            span.pricing-card-feature Feature two
            span.pricing-card-feature Feature three
            span.pricing-card-feature.bold Feature four
        .pricing-card
          .pricing-card-price 300€
          .pricing-card-features
            span.pricing-card-feature Feature one
            span.pricing-card-feature Feature two
            span.pricing-card-feature Feature three
            span.pricing-card-feature.bold Feature four
    +collapsible('test', 'Animation')
      .pricing-cards
        .pricing-card
          .pricing-card-price 150€
          .pricing-card-features
            span.pricing-card-feature Feature one
            span.pricing-card-feature Feature two
            span.pricing-card-feature Feature three
            span.pricing-card-feature.bold Feature four
        .pricing-card
          .pricing-card-price 250€
          .pricing-card-features
            span.pricing-card-feature Feature one
            span.pricing-card-feature Feature two
            span.pricing-card-feature Feature three
            span.pricing-card-feature.bold Feature four
        .pricing-card
          .pricing-card-price 300€
          .pricing-card-features
            span.pricing-card-feature Feature one
            span.pricing-card-feature Feature two
            span.pricing-card-feature Feature three
            span.pricing-card-feature.bold Feature four
    +collapsible('test', 'Other')
      .pricing-cards
        .pricing-card
          .pricing-card-price 150€
          .pricing-card-features
            span.pricing-card-feature Feature one
            span.pricing-card-feature Feature two
            span.pricing-card-feature Feature three
            span.pricing-card-feature.bold Feature four
        .pricing-card
          .pricing-card-price 250€
          .pricing-card-features
            span.pricing-card-feature Feature one
            span.pricing-card-feature Feature two
            span.pricing-card-feature Feature three
            span.pricing-card-feature.bold Feature four
        .pricing-card
          .pricing-card-price 300€
          .pricing-card-features
            span.pricing-card-feature Feature one
            span.pricing-card-feature Feature two
            span.pricing-card-feature Feature three
            span.pricing-card-feature.bold Feature four