include components/_head-data
include components/_navbar
include components/_picture

doctype html
html(lang="en")
  head
    +head-data('Blog')
  body
    :markdown-it(linkify langPrefix='highlight-')
      ## Contact form layout concept
      1. Name: TEXT FIELD
      2. Email: EMAIL FIELD (VERIFICATION)
      3. How can we help you?: DROPDOWN
        - PLACEHOLDER TEXT FOR NOW
      4. Category: DROPDOWN 
        - PLACEHOLDER TEXT FOR NOW

      4. MESSAGE: TEXTAREA FIELD

      icons?
      ! CUSTOM DROPDOWN