include components/_head-data
include components/_navbar
include components/_picture

doctype html
html(lang="en")

  head
    +head-data("Project Arcanist - Case study template")

  body
    +navbar({
      activeItem: "Work",
      color1: "red",
      color2: "yellow",
      activeColor: color2,
      repeat: undefined 
    })
    .shadow
    img#project-cover(src="https://images.unsplash.com/photo-1509671658102-fbe78e4f7b60?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1350&q=80")
    .project-info
      .left-col
        h1 About this project
      .right-col
        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    .photos-wrapper
      .two-photos
        img(data-aos="fade-up" data-aos-duration="700" src="https://images.unsplash.com/photo-1551721434-8b94ddff0e6d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=701&q=80")
        img(data-aos="fade-up" data-aos-delay="250" data-aos-duration="700" src="https://images.unsplash.com/photo-1494366222322-387658a1a976?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80")
    .alignthefuckingcat
      img.cat(src="https://images.unsplash.com/photo-1617123522955-360d082efcd9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" data-aos="fade-up" data-aos-duration="700")
    .project-info
      .left-col
        h1 Our early exploration
      .right-col
        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
    .alignthefuckingcat
      img.cat(src="https://images.unsplash.com/photo-1519052537078-e6302a4968d4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" data-aos="fade-up" data-aos-duration="700")
    
    section
    .placeholdercasestudy
      h2 View other designs
      p [Placeholder] - [Placeholder] - [Placeholder]
    section
    include components/_footer