include components/_head-data
include components/_navbar
include components/_picture

doctype html
html(lang="en")

  head
    +head-data("Project Arcanist - Contact")

  body
    .dim.hidden
    +navbar({
      activeItem: "Contact",
      color1: undefined,
      color2: undefined,
      activeColor: undefined,
      repeat: undefined 
    })

    .container
      #contact-wrapper
        include components/_contact-form
        include components/_pricing-table

    include components/_footer