include components/_head-data
include components/_navbar
include components/_picture

doctype html
html(lang="en")
  head
    +head-data("Project Arcanist")

  body
    +navbar({
      activeItem: "Home",
      color1: undefined,
      color2: undefined,
      activeColor: undefined,
      repeat: undefined 
    })
    
    .preloader
      .preloader-frame
      img.preloader-animation(
          src="img/loader-nocircle.gif"
          alt="Loading..."
        )


    section#hero
      .container
        h1.hero-heading WE ARE Project Arcanist
        p.hero-text
          | Hello we are something something from somewhere because we love something and enjoy doing something sometimes thats why sample text lorem ipsum etc

        .cta
          a.btn.lg.h-glow-inset(href="https://arcanist.art/work") SEE OUR WORK
          a.btn.lg.outline.h-glow-inset(href="https://arcanist.art/contact") LET'S TALK
            

        a(href="#home-about")
          .scroll-indicator-wrapper
            small.scroll-indicator-label Learn more
            .scroll-indicator
    section#home-about
      .container
        h2 MINI ABOUT US SECTION
        br
        p [Placeholder]
    .wave
    section#home-gallery
      .container
        h2 FEATURED DESIGNS
        .gallery
          .gallery-item(parc-color='yellow, red' data-aos="fade-up" data-aos-delay= "50" data-aos-duration="500")
            .thumbnail-wrapper
              .thumbnail
            .gallery-item-details
              h3.thumbnail-title Happy Bee
              .thumbnail-tags
                .thumbnail-tag Logo
                .thumbnail-tag Branding
                .thumbnail-tag Presentation
                .thumbnail-tag Something

          .gallery-item(data-aos="fade-up" data-aos-delay= "100" data-aos-duration="500")
            .thumbnail
            h3.thumbnail-title Haristo
          .gallery-item(data-aos="fade-up" data-aos-delay= "150" data-aos-duration="500")
            .thumbnail
            h3.thumbnail-title The Ocean Project
          .gallery-item(data-aos="fade-up" data-aos-delay= "200" data-aos-duration="500")
            .thumbnail
            h3.thumbnail-title Xinpretia

        a.btn.md VIEW MORE &nbsp
          i.fas.fa-arrow-right
    h1 Heading One
    h2 Heading Two
    h3 Heading Three
    small Small Text
    p.
      Lorem ipsum dolor sit amet consectetur adepiscing sit elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
    button.btn.lg Button Large
    button.btn.lg.outline Button Outline Large
    button.btn Button Medium
    button.btn.outline Button Outline Medium
    button.btn.sm Button Small
    button.btn.sm.outline Button Outline Small
    br
    br
    hr
    .container
      button.btn.hover-test Hover Test

    .screensize

    .whitespace
    //- +picture({ src: 'crow.jpg', lgCustom: 'auto/autumn-cottage-lg' })
    .whitespace

    section#scroll-test
    //- include components/contact-form
    include components/_footer