// Flexbox
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-center-col {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: column;
}

// Light/dark theme
@mixin transition-theme {
  transition: background-color .3s ease, color .3s ease;
}

// Media queries
@mixin for-phone {
  @media screen and (max-width: 599px) { @content; }
}

@mixin for-tablet {
  @media screen and (min-width: $tablet-min) { @content; }
}

@mixin for-laptop {
  @media screen and (min-width: $laptop-min) { @content; }
}

@mixin for-desktop {
  @media screen and (min-width: $desktop-min) { @content; }
}

@mixin for-big-desktop {
  @media screen and (min-width: $desktop-big-min) { @content; }
}