-var formspreeURL = 'https://formspree.io/f/myyldeon'
form#contact-form(action=formspreeURL method='POST' autocomplete="off")
  label.contact-form-label Name:
    input(type='text' name='name')
  
  label.contact-form-label E-mail:
    input(type='email' name='_replyto')
  
  label.contact-form-label Message:
    textarea(name='message')
  
  button.btn#contact-form-submit(type='submit') Send