
<form id="contact-form" action="https://formspree.io/f/myyldeon" method="POST" autocomplete="off">
  <label class="contact-form-label">Name:
    <input type="text" name="name" autocomplete="off"/>
  </label>
  <label class="contact-form-label">E-mail:
    <input type="email" name="_replyto" autocomplete="off"/>
  </label>
  <label class="contact-form-label">Message:
    <textarea name="message" autocomplete="off"></textarea>
  </label>
  <button class="btn" id="contact-form-submit" type="submit">Send</button>
</form>