.back-to-top-label.hidden
a.back-to-top.hidden(href="#navbar")
  i.fas.fa-arrow-up.fa-2x

footer
  include _page-links
  .container
    ul
      each val, index in pageNames
        li= val
canvas#favicon-canvas(width="64px" height="64px")
script(src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js")
script(src="js/main.js")
script(src="js/themes.js")