mixin head-data(title)
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title #{title}
  link(rel="stylesheet", href="https://use.typekit.net/bkp1fmd.css")
  link(href="http://fonts.cdnfonts.com/css/colus", rel="stylesheet")
  link(href="http://fonts.cdnfonts.com/css/nexa-bold",rel="stylesheet")
  link(href="http://fonts.cdnfonts.com/css/mont-blanc" rel="stylesheet")
  link(rel="stylesheet", href="css/style.css")
  
  //- 'gaultier' 'Colus' 'nocturne-serif' 'futura-pt' 'trajan-sans-pro'