mixin navbar(activeItem)
  #navbar
    #navbar-content
      #navbar-logo

      include page-links.pug
      -var domain = "https://arcanist.art/"
      ul#navbar-items
        each val, index in pageNames
          li
            unless val === activeItem
                a.navbar-item(href=domain + pageURLs[index]) #{val}
            else
                a.navbar-item.active(href=domain + pageURLs[index]) #{val}