mixin navbar(activeItem)
  #navbar
    #navbar-content
      #navbar-logo

      include page-links.pug
      ul#navbar-items
        each val, index in links
          a(href= "https://arcanist.art/" + url[index])
            unless val === activeItem
              li.navbar-item= val
            else
              li.navbar-item.active= val