// CLEAN THIS MESS UP THIS IS DISGUSTING
#hero {
  background: linear-gradient(0deg, #141414, #262626);
  height: 100vh;
  width: 100%;

  .container {
    @include flex-center;
    text-align: center;
    flex-flow: column;
    height: 100%;
  }

  &.light {
    background: linear-gradient(0deg, $white, $dark-white);
  }
}

.hero-heading {
  font-family: modesto-condensed, serif;
  text-transform: uppercase;
  font-size: 72px;
  margin-bottom: 30px;
  font-weight: 500;
  letter-spacing: 0.07ch;
}

.hero-text {
  max-width: 50ch;
  font-family: brother-1816;
  font-weight: 200;
  @extend p;
  font-size: 2rem;
  line-height: 1.4;
}

.scroll-indicator {
  position: absolute;
  background: transparent;
  width: 24px;
  height: 24px;
  transform: rotate(45deg);
  border: solid white;
  border-width: 0 2px 2px 0;
  bottom: 5%;
  animation: scroll-indicator 1s ease infinite alternate, fade-scroll-indicator 1s 5s ease forwards;
  opacity: 0;
}

.scroll-indicator-label {
  position: absolute;
  animation: scroll-indicator 1s ease infinite alternate, fade-scroll-indicator 1s 5s ease forwards;
  text-align: center;
  font-family: brother-1816;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2ch;
  font-size: 1.2rem;
  opacity: 0;
  display: block;
  width: 100%;
  max-width: 1200px;
  margin: 50px auto;
}

@keyframes scroll-indicator {
  from { bottom: 5%; }
  to { bottom: 7%; }
}

@keyframes fade-scroll-indicator {
  from { opacity: 0; }
  to { opacity: 1; }
}

.cta {
  margin-bottom: 12%;
  margin-top: 50px;
}

.cta button {
  background: transparent;
  padding: 20px 30px;
  width: 240px;
  border: none;
  border-radius: 5px;
  font-family: brother-1816;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05ch;
  font-size: 14px;
  margin: 0 10px;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  transition: 0.3s ease-out;
}

.cta button:hover {
  background: white;
  color: black;
}

.larger {
  font-size: 2.6rem;
  font-family: brother-1816;
}