#navbar {
  background: $black;
  width: 100%;
  height: auto;
  display: flex;
  margin: auto;

  &.light {
    background: $white;
  }
}

#navbar-content {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  align-items: center;
}

#navbar-items {
  display: flex;
  flex-flow: row;
  list-style-type: none;
  margin-right: 2ch;
}

.navbar-item {
  @extend p;
  padding: 10px 15px;
  position: relative;
  display: block;
  transition: 0.5s;
  transition: transform 0.2s, opacity 0.2s;


  &::after {
    background: gray;
    position: absolute;
    height: 2px;
    width: 60%;
    top: 100%;
    left: 20%;
    content: "";
    transition: transform 0.5s ease;
    transform: scaleX(0);
    transform-origin: right;
  }

  &:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }

  &.active {
    font-weight: bold;
  }

  &.active::after {
    transform: scaleX(1);
    transform-origin: left;
    background: white;
  }
}

.nav-icon {
  font-size: 2rem;
  cursor: pointer;
  transition: transform 0.2s ease;
  transform: scale(1);
  margin-left: 40px;
  @include flex-center;

  &:active { transform: scale(1.3); }
  &:hover { opacity: 0.8; }
}

#navbar-logo {
  @include for-phone {
    .logo-svg-text { display: none; }
  }

  @include for-laptop {
    .logo-svg-text { display: inline-block; }
  }
  
  width: 240px;
  height: 72px;
  background: transparent;
  margin: 16px;
  cursor: pointer;
  opacity: 0.9;
  transition: opacity 0.15s, transform 0.2s;

  &::hover {
    opacity: 1;
  }

  &:active {
    transform: scale(0.95);
  }
}

.navbar-gradient {
  width: 100%;
  height: 5px;
  background: gray linear-gradient(90deg, red, yellow);
}

.cls-1.light:not(.logo-circle) {
  fill: #222;
}