.container {
  max-width: 1200px;
  margin: auto;
}

.whitespace {
  height: 100vh;
  width: 100%;
  background: transparent;
}

section {
  width: 100%;
  min-height: 500px;
  background: transparent;
}

.fullwidth {
  width: 100%;
}