// Base
@use 'base/_reset';
@use 'base/_layout';
@import 'base/typography';
@import 'base/_transitions';

// Utility
@import 'utility/_variables';
@import 'utility/_functions';
@import 'utility/_mixins';

// Components
@import 'components/_preloader';
@import 'components/_navbar';
@import 'components/_hero';
@import 'components/_footer';
@import 'components/buttons';
@import 'components/contact-form';
@import 'components/pricing-table';
@import 'components/_gallery';

// Other
body {
  background-color: $dark-gray;
  color: #eee;
  @include transition-theme;

  &.light {
    background: $white;
    color: $gray;
  }
}

#favicon-svg {
  width: 64px;
  height: 64px;
}

// Testing responsiveness
.screensize {
  width: 100%;
  height: 60px;
  background: gray;
  max-width: 1200px;
  margin: auto;
  position: relative;
  top: 500px;

  &:after {
    content: "TEST";
    background: red;
    width: 100%;
    height: 100%;
    position: absolute;
    @include flex-center;
    @extend h3;


    @include for-phone {
      background: blue;
      content: "PHONE"
    }
    
    @include for-tablet {
      background: maroon;
      content: "TABLET"
    }

    @include for-laptop {
      background: green;
      content: "LAPTOP"
    }

    @include for-desktop {
      background: purple;
      content: "DESKTOP"
    }

    @include for-big-desktop {
      background: orangered;
      content: "DESKTOP LARGE"
    }
  }
}